.quan{width:1226px;margin: 0 auto ;}
.nav{width: 100%;height: 99px;position: relative;}

.nav .logo{float: left;display: block;position: absolute;top: 22px;}

#banner{   width: 100%; background-color: rgb(195, 21, 26);height: 560px;} 
.img{float: left;width: 820px;}
.img img{height: 521px;width: 845px;display: block;}
#banner .quan{height: 560px;}
#banner .deng{float:left;width: 380px;height: 500px;margin-left: 26px;background: #fff;margin-top: 20px;}
.login-tab { width: 340px; margin: 30px auto 0; }
.login-tab li.on { color: #ff3600; }
.login-tab li { float: left; width: 49%; text-align: center; color: #333333; font-size: 18px; cursor: pointer; }
.pr{text-align: center;width: 380px;height: 20px;font-weight: 800;}
.pr a{font-size: 16px;}
.pr a:hover{color: orangered;}
 .on{font-size: 16px;}
.footer-links{height:145px;margin-top:90px}
.footer-links .col-links { float: left; width: 137px; height: 145px; margin: 0; }
.footer-links .col-links dt { margin: 0 0 25px; font-size: 14px; line-height: 1.25; color: #424242; }
.footer-links .col-links dd { margin: 13px 0 0; font-size: 14px; }
.footer-links .col-links a { color: #757575; }
.footer-links .col-contact { float: left; width: 227px; height: 145px; border-left: 1px solid #e0e0e0; text-align: center; color: #616161; }
.footer-links .col-contact .phone { margin: 0 0 5px; font-size: 24px; line-height: 1; color: #ff3600; }
.footer-links .col-contact p { margin: 0 0 16px; font-size: 12px; }
.col-contact .btn-line-primary { display: inline-block; width: 118px; height: 28px; font-size: 12px; line-height: 28px; padding: 0; margin-top: 52px; text-align: center; border: 1px solid #ff3600; background: #fff; color: #ff3600; -webkit-transition: all .4s; transition: all .4s; }
.footer-links .col-wap { float: right; width: 175px; height: 145px; border-left: 1px solid #e0e0e0; text-align: center; color: #757575; font-size: 15px; }

.footer-info-box { width: 100%; background-color: #333333; padding: 30px 0; font-size: 12px; margin-top: 40px;height: 46px;}
.zuipin-wrapper { width: 1226px; margin: 0 auto; position: relative; }
img { display: block; }
.footer-info .col-us { padding-left: 10px; }
.footer-info > div { float: left; color: #b0b0b0; }
.list-about li { float: left; }
.list-about li:first-child a { padding-left: 0; }
.list-about li a { padding: 0 15px; }
.footer-info .copyright { margin: 6px 0; }
.info-links { width: 538px; height: 38px; margin-top: 11px; }
.info-links li { float: left; }
.info-links li:nth-of-type(1) a { background: url('../images/icon/zp_ic_hxcy.png')center left no-repeat; }

.info-links li a { display: block; padding-left: 29px; }
.footer-info a { color: #b0b0b0; font-size: 12px; }
info-links li + li { margin-left: 15px; }
.info-links li { float: left; }
.info-links li:nth-of-type(2) a { background: url('../images/icon/zp_ic_aq.png') center left no-repeat; }

form{width: 376px;height: 176px;float: left;}
#zhang{width: 317px;height: 37px;margin-left: 35px;margin-bottom: 20px;margin-top: 20px;font-size: 12px;text-indent: 10px;}
#mi{width: 317px;height: 37px;margin-left: 35px;font-size: 12px;text-indent: 10px;}
.btn{margin-left: 35px;width:317px;font-size: 14px; color: #fff; display: inline-block; background-color: #ddd;  border: none; outline: none; height: 44px; line-height: 44px; text-align: center; margin-top: 10px;}


